{
  "gcp_billing_account" : "",
  "gcp_project_name" : "",
  "gcp_project": "",
  "gcp_region" : "us-central-1",
  "gcp_zone" : "us-central-1a",
  "gae_location_id": "us-central",
  "gcp_state_bucket_name" : "project-tf-states",
  "gcp_state_bucket_location": "US",
  "gae_service": "default"
}
